.me-photos {
    .gameboy-frame-wrapper {
        position: relative;
        width: 400px;
        height: 400px;
        margin: auto;
        .screen-img {
            position: absolute;
            top: 40px;
            left: 105px;
            width: 45%;
            height: auto;
            object-fit: cover;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            &.fade-out {
                opacity: 0;
            }
        }
        .frame-img {
            position: relative;
            width: 100%;
            z-index: 3;
            pointer-events: none;
        }
        .arrow {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            background: none;
            border: none;
            z-index: 4;
            color: $navy;
            cursor: pointer;
            &.left {
                left: 5px;
            }
            &.right {
                right: 5px;
            }
            &:hover {
                svg {
                    color: $navy-hover;
                }
                transform: translateY(-50%) scale(1.1);
            }
        }
    }
}