@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

.me-photos {
    .gameboy-frame-wrapper {
        position: relative;
        width: 400px;
        height: 400px;
        margin: auto;
        .screen-img {
            position: absolute;
            top: 40px;
            left: 105px;
            width: 45%;
            height: auto;
            object-fit: cover;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            &.fade-out {
                opacity: 0;
            }
        }
        .frame-img {
            position: relative;
            width: 100%;
            z-index: 3;
            pointer-events: none;
        }
        .arrow {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            background: none;
            border: none;
            z-index: 4;
            color: $navy;
            cursor: pointer;
            &.left {
                left: 5px;
            }
            &.right {
                right: 5px;
            }
            &:hover, &:focus {
                svg {
                    color: $navy-hover;
                }
                transform: translateY(-50%);
                animation: wiggle 0.5s forwards;
            }
        }
    }
}

.about-me {
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 30px;
    padding-bottom: 80px;
    h1 {
        font-family: "VT323", monospace;
        color: $green;
        font-size: 48px;
    }
    h2 {
        font-family: "VT323", monospace;
        color: $purple;
        font-size: 48px;
    }
    p {
        font-family: "Space Grotesk", sans-serif;
        color: $navy;
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.6;
    }
    .about-top {
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center;
        .about-text {
            p {
                text-align: justify;
            }
        }
    }
}