.footer {
    margin-top: auto;             /* pushes footer to the bottom */
    text-align: center;
    color: $white-hover;
    padding: 1rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    @include sg-font(12px);
}

a {
    &:hover, &:focus {
        text-decoration: underline;
    }
}