.footer {
    text-align: center;
    color: $white-hover;
    padding: 1rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: absolute;
    bottom: 1vh;
    width: 100%;
    font-family: "Space Grotesk", sans-serif;
    font-size: 12px;
}

a {
    &:hover, &:focus {
        text-decoration: underline;
    }
}