.home {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
}

.hero-text {
    h1 {
        @include vt-font(96px);
        color: $navy;
        margin-bottom: 5px;
    }
    h2 {
        @include sg-font(48px);
        color: $green;
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}
.hero-image {
    img {
        width: 160px;
        height: auto;
        margin-top: -40px;
        transition: transform 0.2s ease-in-out;
        &:hover, &:focus {
            animation: wiggle 0.5s forwards;
        }
    }
}

.learn-more-btn {
    margin-top: 65px;
    color: $navy;
    @include vt-font(48px);
    background-color: $white;
    border-radius: 50px;
    border: 3px solid $navy;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    transition: background-color 0.3s ease;
    &:hover, &:focus {
        background-color: $white-hover;
    }
}

.image-links {
    position: relative;
    height: 350px;
    .ds {
        position: absolute;
        right: 9vw;
        top: -250px;
    }
    .gameboy {
        position: absolute;
        right: 30vw;
        top: 0px;
    }
    .wii {
        position: absolute;
        right: 30px;
        top: 90px;
    }
}


@keyframes play-frames-ds {
    from { background-position: 0 0; }
    to { background-position: -2058px 0; }
}
.ds-sprite {
    width: 294px;
    height: 294px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transform: rotate(11.204deg);
    transform-origin: top left;
    &:hover, &:focus {
        animation: play-frames-ds .85s steps(7) infinite;
    }
}

@keyframes play-frames-gameboy {
    from { background-position: 0 0; }
    to { background-position: -1880px 0; }
}
.gameboy-sprite {
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transform-origin: top left;
    &:hover, &:focus {
        animation: play-frames-gameboy 1.3s steps(8) infinite
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
.wii {
    img {
        width: 250px;
        animation: spin 5s linear infinite;
        animation-play-state: paused;
        &:hover, &:focus {
            animation-play-state: running;
        }
    }
}
