@mixin vt-font($size:32px) {
    font-size: $size;
    font-family: "VT323", monospace;
}
@mixin sg-font($size:24px) {
    font-size: $size;
    font-family: "Space Grotesk", sans-serif;
}

@mixin respond($breakpoint) {
    $breakpointPX: ($breakpoint) * 1px;
    @media (max-width: $breakpointPX) {
        @content;
    }
}