.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include respond(1000) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include respond(500) {
        grid-template-columns: repeat(1, 1fr);
    }
    gap: 2rem;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: .3vh;
    padding-bottom: .8vh;
}

.project-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    background: $navy;
    border-radius: 5px;
    border: 2px solid #50526a;
    overflow: hidden;
    box-shadow: 0 4px 5px #0e103d36;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.project-image {
    position: relative;
    overflow: hidden;
    height: 15vh;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-image.top img {
    object-position: top;
}
.project-image.top15 img {
    object-position: 0 15%;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

.project-dates {
    position: absolute;
    top: 1vh;
    right: 1vh;
    background: $purple;
    color: $white;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 5px;
    &:hover, &:focus {
        animation: wiggle 0.5s forwards;
    }
}

.project-card h3 {
    margin: 1rem;
    color: $white;
    @include vt-font(1.5rem);
    text-decoration-color: $white;
}

.project-card p {
    margin: 0 1rem 1rem;
    color: $white-hover;
    @include sg-font(.95rem);
}

.project-tags {
    margin: 0 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    color: $navy;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    @include vt-font(0.8rem);
    &:hover, &:focus {
        animation: wiggle 0.5s forwards;
    }
}
.tag.pink {
    background-color: $pink;
}
.tag.blue {
    background-color: $blue;
}
.tag.green {
    background-color: $green;
}

.project-card.project-link {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;   /* base */
}
.project-card.project-link:hover,
.project-card.project-link:focus {
    text-decoration: none;
}
.project-card.project-link:hover h3 {
    text-decoration: underline;
}