@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=VT323&display=swap');
@import 'sass/reset';
@import 'sass/mixins';
@import 'sass/colors';

body {
    background-color: $white;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

.navbar {
    padding: 40px;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 22px;
    background-color: $white;
    .nav-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .logo-link {
            .logo-wrapper {
                position: relative;
                width: fit-content;
                .name-logo {
                    width: 80%;
                    height: auto;
                    display: block;
                }
                .logo-star {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: auto;
                    pointer-events: none;
                    &.hover {
                        opacity: 0;
                    }
                }
            }
            &:hover, &:focus {
                .logo-star.hover {
                    opacity: 1;
                }
                .logo-star:not(.hover) {
                    opacity: 0;
                }
            }
        }
        svg {
            color: $navy;
        }
        li:not(:first-child):not(.nav-icon) {
            position: relative;
            top: -15px;
            transition: background-color 0.3s ease;
            &:hover, &:focus {
                color: $navy-hover;
                animation: wiggle 0.5s forwards;
            }
        }
        .nav-icon-group {
            display: flex;
            gap: 20px;
            align-items: center;
            .nav-icon {
                position: relative;
                top: -15px;
    
                a {
                    display: inline-flex;
                    align-items: center;

                    svg {
                        color: $navy;
                        transition: color 0.3s ease, transform 0.3s ease;
                    }

                    &:hover, &:focus {
                        svg {
                            color: $navy-hover;
                            animation: wiggle 0.5s forwards;
                        }
                    }
                }
            }
        }
    }
}

@import 'sass/home';
@import 'sass/about';
@import 'sass/footer';